.footer {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px 0px lightgrey;
    background-color: #F7F7F7;
    padding: 2%; /* 20px / largeur de la fenêtre */
    height: 100%; /* Ajusté pour remplir la hauteur de la fenêtre */
}

.logo {
    width: 88%; /* 307px / largeur de la fenêtre */
    height: auto; /* Ajusté pour maintenir le ratio */
}

.menu-list {
    list-style-type: none;
    line-height: 2;
}
.menu-list a {
    text-decoration: none;
    font-size: 0.9vw;
    font-family: 'Poppins', sans-serif;
    color: #6D6869;
}

.menu {
    margin-left: -4.2%; /* 42px / largeur de la fenêtre */
}


.form-group {
    display: grid;
    width: auto;
}
.form {
    width: 39.667%; /* 396.67px / largeur de la fenêtre */
}
 /* Colorer * en rouge sur les labels du form */
label::after {
    content: " *";
    color: red;
  }
  

input#subject {
    width: auto; /* 395px / largeur de la fenêtre */
    height: 4.1vh; /* 41px / hauteur de la fenêtre * 100 */
    border-radius: 1vh; /* 10px / hauteur de la fenêtre * 100 */
    border-width: thin;
}

select#country {
    height: 4.1vh; /* 41px / hauteur de la fenêtre * 100 */
    border-radius: 2vh; /* 20px / hauteur de la fenêtre * 100 */
}

.option {
    text-align: center;
}

.contact-form {
    margin-top: -0.2vh;
}
.contact-info {
    margin-top: 3.1vh; /* 121px / hauteur de la fenêtre * 100 */
}


.address {
    margin-top: 5.1vw;
    font-size: 1.1vw; /* 18px / largeur de la fenêtre * 100 */
    font-family: 'lato', sans-serif;
    color: #111426;
    margin-left: 19px;
    line-height: 0.4;
}

h2 {
    font-size: 2.5vw; /* 35px / largeur de la fenêtre * 100 */
}

textarea#message {
    height: 8vh; /* 80px / hauteur de la fenêtre * 100 */
}

textarea#message, input#phone, input#email, input#company {
    background-color: #ECECEC;
    border-width: thin;
}

.button-send {
    margin-left: 89%; /* 322px / largeur de la fenêtre */
    margin-top: 1.8vh; /* 37px / hauteur de la fenêtre * 100 */
    height: 3.8vh; /* 38px / hauteur de la fenêtre * 100 */
    width: 25%; /* 110px / largeur de la fenêtre */
    background-color: #ECECEC;
    border: none;
    box-shadow: 0px 5px 17px 4px #393e4b26;
}

/* Styles pour les mobiles */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto; /* Réinitialiser la hauteur */
        align-items: center;
    }
    .button-send{
        margin-left: 74%;
    }
    .address{
        font-size: 4.1vw;
    }
    .menu-list{
        line-height: 1;
    }
    .menu-list a {
        font-size: 2.9vw;
    }
}
