.footer {
    display: flex;
    justify-content: center;
    gap: 5%;
    background-color: #F7F7F7;
    padding: 2%; 
    bottom: 0; 
}

.logo {
    width: 88%; 
    height: auto; 
}

.menu-list {
    list-style-type: none;
    line-height: 2;
}
.menu-list a {
    text-decoration: none;
    font-size: 0.9vw;
    font-family: 'Poppins', sans-serif;
    color: #6D6869;
}

.menu {
    margin-left: -4.2%; 
}


.form-group {
    display: grid;
    width: auto;
    margin-bottom: 2%;
}
.form {
    width: 39.667%; 
}
 
 .required-label {
    color: red;
  }


.option {
    text-align: center;
}

.contact-form {
    margin-top: -0.2vh;
}
.contact-info {
    margin-top: 3.1vh; 
}


.address {
    margin-top: 5.1vw;
    font-size: 1.1vw; 
    font-family: 'lato', sans-serif;
    color: #111426;
    margin-left: 19px;
    line-height: 0.4;
}

.contactUs {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 33px;
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: #ECECEC;
    border: none;
    height: 25px;
}

.form-group select {
    height: 30px;
}

.form-group textarea {
    height: 100px;
    margin-bottom: 60px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group input:valid,
.form-group select:valid,
.form-group textarea:valid {
    background-color: white;
    outline: none;
}

.label-form {
    margin-bottom: 1%;
}

form {
    position: relative;
}

.button-send {
    margin-top: 1.8vh;
    height: 40px; 
    width: 35%; 
    background-color: #ECECEC;
    border: none;
    transition: 0.3s ease-in-out;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #484848;
    position: absolute;
    right: 0%;
    bottom: 0;
}

.button-send:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto; 
        align-items: center;
    }
    .button-send{
        margin-left: 74%;
    }
    .address{
        font-size: 3.1vw;
        margin-bottom: 11vw;
        margin-top: 12.1vw;
    }
    .menu-list{
        line-height: 1;
    }
    .menu-list a {
        font-size: 2.9vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {

    .menu-list a{
        font-size: 1.9vw;
    }
    .address{
        font-size: 2.1vw;
    }

}
    

