.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative; 
    overflow-x: hidden;
  }
/* 
  .centered-title {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  } */

  .title-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }

  /* Taille de title par taille écran */
  /* .telSize {
    font-size: 1.5em;
    text-align: center;
  /* } 
  .verticalTabSize {
    font-size: 2.1em;
  } */
  .horizontalTabSize {
    font-size: 4em;
  }
  /* .desktopSize {
    font-size: 4em;
  } */


  /* VOTRE FORMULE */

  h1.NotreFormula-mesure {
    font-family: 'Montserrat', sans-serif;
    color: #B9E8E8;
    font-size: 3.7em;
    width: 99%;
    line-height: 46px;
    text-align: center;
}

  .plus-sign-mesure {
    color: #B9E8E8;
    font-size: 10em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: -21px;
  }
  
  .equal-sign-mesure {
    color: #B9E8E8;
    font-size: 10em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  .index {
    position: absolute;
    /* left: 37%; */
    top: -21%;
    font-size: 30px;
    font-family: montserrat;
    font-weight: bold;
  }

  .bleu {
    color: #B9E8E8;
  }
  
@media screen and (max-width: 768px) {
  .index{
    top: -13%;
    font-size: 25px;
  }
}
 /* 
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .index{
    left: 25%;
  }
}
 
@media screen and (min-width: 1301px) and (max-width: 1600px) {
  .index{
    left: 28%;
  }
} */
@media screen and (min-width: 1180px) and (max-width: 1523px){
  h1.NotreFormula-mesure {
    font-size: 3em;
  }
  h2.NotreCatalogue-mesure {
    font-size: 27px;
  }
  h1.packaging {
    font-size: 2.7em;
  }
 .equal-sign-mesure {
      width: 15%;
    }
    
}

@media screen and (max-width: 767px) {

  .container-formula {
    text-align: center;
    width: 100%;
  }

  h1.packaging {
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    margin-top: 2px;
    text-align: center;
  }

  h1.NotreFormula-mesure {
    font-size: 33px;
  }
  .plus-sign-mesure {
    font-size: 110px;
    line-height: 84px;
  }

  .equal-sign-mesure {
    font-size: 130px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 20%;
    line-height: 96px;
  }

  }