.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.centered-title {
  margin-left: -30%;
  position: absolute;
  top: 50%;
  transform: translate(10%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.title-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

/* Taille de title par taille écran */
.telSize {
  font-size: 1.5em;
  text-align: center;
}

.verticalTabSize {
  font-size: 2.1em;
}

.horizontalTabSize {
  font-size: 4em;
}

.desktopSize {
  font-size: 96px;
  line-height: 91px;
}
/* NOTRE FORMULE */

.sub-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.sub-container-text {
  margin-top: -78px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plus-sign {
  color: #D9C5C4;
  font-size: 10em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: -21px;
}

.equal-sign {
  color: #D9C5C4;
  font-size: 10em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.container-formula {
  width: 100%;
  text-align: center;
}
h1.NotreFormula {
  font-family: 'Montserrat', sans-serif;
  color: #D9C5C4;
  font-weight: 800;
  font-size: 3.7em;
  width: 99%;
  line-height: 46px;
  text-align: center;
}
.container-packaging {
  display: flex;
  justify-content: center;
  line-height: 45px;
}
h1.packaging {
  font-size: 3em;
  font-weight: bold;
  width: 89%;
  margin-top: 2px;
  text-align: center;
}

h2.NotreCatalogue {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  width: 100%;
  line-height: 30px;
  margin-top: -27px;
  text-align: center;
}

.container-formula-text {
  text-align: -webkit-center;
  margin-bottom: 4%;
}

.formula-text {
  width: 628px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;

}

.vertical-line-fb {
  border-left: 2px solid #000;
  display: inline-block;
  height: 130px;
  margin: 0 20px;
}

/* NOS PROCESSUS DE FABRICATION */

.container-process {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-process-carousel {
  position: relative;
  height: 290px;
  width: 50%;
}
.container-process-title h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 100;
}
.container-pCard {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.p-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-pCard h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}
.btn-pcarousel-left {
  position: absolute;
    left: 2%;
    top: 12%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-pcarousel-right {
  position: absolute;
    right: 2%;
    top: 12%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* NOS DIVERSES FORMES GALENIQUES */

.container-formes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-process-formes-condition {
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}

.container-formes-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 100;
}


.galenique {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  flex-wrap: wrap;
}

.galenique.scroll-horizontal {
  overflow-x: scroll;
}

.g-card {
  width: 284px;
  text-align: justify;
  height: 450px;
}
.card-content h2 {
  font-size: 20px;
  font-family: 'Montserrat';
  text-align: center;
}
.card-content p {
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 16px;
}
/* NOTRE CHOIX DE CONDITIONNEMENT */

.container-condition-item {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 4%;

}

.condition-item p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.container-condition {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-condition-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 100;
}

.container-condition-title h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: -11px;
}

/* NOS DOMAINES D'APPLICATIONS */

.AreaOfExpertise {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Pour masquer la scrollbar dans Mozilla Firefox */
  scrollbar-width: none;
  scrollbar-color: transparent transparent;

}

.expertise-title h2 {
  font-size: 40px;
  font-weight: 100;
}


.expertise-list {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 8px;
}

.expertise-title {
  width: 100%;
}

.text-group {
  width: 253px;
}

.horizontal-scroll {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  white-space: nowrap;
  /* Prevent line breaks for child elements */
}

/* Pour masquer la scrollbar dans Google Chrome et Microsoft Edge (basé sur Chromium) */
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}


/* Pour masquer la scrollbar dans Safari */
::-webkit-scrollbar {
  width: 0;
}

.rose {
  color: #D9C5C4;
}

/* FORMAT TABLETTE */

@media screen and (min-width: 768px) and (max-width: 1180px) {

  .sub-container {
    margin-top: 10%;
    width: 100%;
    gap: 2%;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .container-formula {
    width: 100%;
    margin-top: 2%;
  }

  h1.NotreFormula {
    font-size: 3em;
    width: 100%;
  }

  h2.NotreCatalogue {

    width: 100%;
    font-size: 20px;
  }

  h1.packaging {
    font-size: 2.5em;
    width: 100%;
  }

  .equal-sign {
    width: 20%;
  }

  .sub-container-img {
    width: 30%;
  }

  .sub-container-img img {
    width: 100%;
  }

  .galenique {
    gap: 14%;
  }

  .expertise-list {
    width: 80%;
  }


}@media screen and (min-width: 1180px) and (max-width: 1300px){
  .sub-container{
    flex-direction: column;
  }

}

@media screen and (min-width: 1500px) {
  .expertise-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1181px) and (max-width: 1478px) {
  .galenique {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14%;
    flex-wrap: wrap;
  }

  .container-formes-title {
    width: 100%;
  }

  .container-formes {
    align-items: center;
  }

}

/* FORMAT MOBILE */
@media screen and (max-width: 767px) {

  .sub-container {
    margin-top: 20%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .sub-container-text {
    width: 80%;
  }

  .container-formula {
    text-align: center;
    width: 100%;
  }

  h1.packaging {
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    margin-top: 2px;
    text-align: center;
  }

  h1.NotreFormula {
    font-size: 33px;
  }

  h2.NotreCatalogue {

    width: 100%;
    font-size: 24px;
  }

  .plus-sign {
    font-size: 110px;
    line-height: 84px;
  }

  .equal-sign {
    color: #D9C5C4;
    font-size: 130px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 20%;
    line-height: 96px;
  }

  .sub-container-img {
    width: 80%;
  }

  .sub-container-img img {
    width: 100%;
  }

  .container-formula-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formula-text {
    width: 80%;
    font-size: 12px;

  }
  .container-process-title h2 {
    font-size: 24px;
    font-weight: 100;
}

  .container-formes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-formes-title {
    width: 100%;
  }

  .container-formes-title h2 {
    font-size: 24px;
    font-weight: 100;
  }

  .container-condition-title h3 {
    font-size: 14px;
  }

  .container-condition-title {
    width: 100%;
  }

  .container-condition-title h2 {
    font-size: 27px;
  }

  .container-condition-item {
    flex-wrap: wrap;
  }

  .container-galenique-carousel {
    position: relative;
  }

  .btn-carousel-left {
    position: absolute;
    left: -10%;
    top: 37%;
    background-color: transparent;
    border: none;
  }

  .btn-carousel-right {
    position: absolute;
    right: -10%;
    top: 37%;
    background-color: transparent;
    border: none;
  }
  .AreaOfExpertise {
    width: 100%;
  }

  .expertise-title h2 {
    font-size: 32px;
  }

  .expertise-list {
    width: 80%;
  }
}

@media screen and (min-width: 411px) and (max-width: 588px) {
  .container-condition-item {
    width: 80%;
  }
}

@media screen and (min-width: 589px) and (max-width: 767px) {
  .container-condition-item {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .container-process-carousel {
    width: 94%;
  }
  .container-pCard h2 {
    font-size: 23px;
    line-height: 45px;
  }
  .g-card {
    width: 265px;
}
}
@media screen and (min-width: 501px)and (max-width: 686px) {
  .container-process-carousel {
    width: 70%;
  }
}